/**************************
 Reset default browser CSS
**************************/
html, body, div, span, h1, h2, h3, h4, 
h5, h6, p, a, strong, sub, sup, ol, ul, li,
fieldset, form, label {
	border: 0;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
legend, caption, table, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
}
ol, ul {
	list-style: none;
}
/**************************
 Fonts
**************************/
body {
	font-size: 11px;
	font-family: tahoma,arial,verdana,sans-serif,Lucida Sans;
	font-weight: 400;
	line-height: 15.4px;
	width: 607px;
}
a {
	color: #2B587A;
	text-decoration: none;
	cursor: pointer;
}
a:hover {
	text-decoration: underline;
}
a:visited {
	color: #2B587A;
}
/**************************
 Header (header)
**************************/
header {
	padding: 10px 0px;
	float: left; 
	width: 100%;
}
header h1 {
	float: left;
	color: #45688E;
	font-size: 15px;
	font-weight: 700;
}
/**************************
 Navigation (nav)
**************************/
nav {
	display: block;
	float: right;
}
nav ul li {
	display: inline;
	float: left;
	cursor: pointer;
}
nav ul li a {
	display: block;
	padding: 0 0 0 16px;
}
nav ul li a:visited {
	color: 
}
/**************************
 Section (section)
**************************/
section {	
	float: left;
	width: 100%;
}
section header {
	float: left;
	background: none repeat scroll 0 0 #dee5eb;
	float: left;
	width: 100%;		
	padding: 3px 0;
	margin-top: 4px;
}
section header a {
	color: #45688E;
	border-radius: 2px;
	float: right;
	font-size: 12px;
	padding: 1px 1.5% 1px 0;

}
section h2{
	float: left;
	font-weight: bold;
	color: #45688E;
	font-size: 12px;
	padding: 1px 0 1px 1.5%;
}
article {
	float: left;
	width: 100%;
	padding: 4px 0 6px 0;
}
article h3 {
	font-weight: bold;
	color: #45688E;
	font-size: 13px;	
}
/**************************
 #distractors + #text
**************************/
#next {
	float: left;
	padding: 4px 0;
}
#previous {
	float: left;
	padding: 4px 10px 4px 3.25%;
}
#caption {
	float: left;
	padding: 4px 10px 4px 0;
}
#distractors {
	float: left;
	color: #333;
	width: 96.75%;
	padding-left: 3.25%;
}
#distractors input[type='radio'] {
	position: absolute;
	opacity: 0;
}
#distractors  input[type='radio'] + label {
	cursor: pointer;
	position: relative;
	padding: 0 0 0 25px;
	line-height: 19px;
	margin: 0 0 10px 0;
}
#distractors .correct {
	color: green;
}
#distractors .incorrect {
	color: red;
}
#distractors input[type='radio'] + label:before {
	cursor: pointer;
	content: "";
	display: block;
	position: absolute;
	top: 1px;
	height: 10px;
	width: 10px;
	background: white;
	border: 1px solid gray;
	box-shadow: inset 0px 0px 0px 2px white;
	border-radius: 6px;
}
#distractors input[type='radio']:disabled + label:before {
	background: #D3D3D3;
	box-shadow: inset 0px 0px 0px 2px #D3D3D3;
}
#distractors input[type='radio']:checked + label:before {
	cursor: pointer;
	background: #45688E;
}
#text {
	float: left;
	color: #333;
	width: 96.75%;
	padding-left: 3.25%;
}
/**************************
 #tests
**************************/
#tests article {
	border-top: 1px solid #e7eaed;
}
#tests article h3 {
	padding: 4px 0 4px 3.25%;
}
#tests article .description {
	font-size: 11px;
	color: #333;
	width: 96.75%;
	float: left;
	padding-left: 3.25%;
}
