/**************************
 Reset default browser CSS
**************************/
html, body, div, span, h1, h2, h3, h4, 
h5, h6, p, a, strong, sub, sup, ol, ul, li,
fieldset, form, label {
	border: 0;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
legend, caption, table, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
}
ol, ul {
	list-style: none;
}
/**************************
 Fonts
**************************/
body {
	font-size: 11px;
	font-family: tahoma,arial,verdana,sans-serif,Lucida Sans;
	font-weight: 400;
	line-height: 15.4px;
	width: 607px;
}

/**************************
 Header (header)
**************************/
header {
	float: left;
	padding: 10px 7px 11px 12px;
}
header h1 {
	color: #555;
	font-size: 15px;
	font-weight: 700;
}
/**************************
 Navigation (nav)
**************************/
nav {
	display: block;
	float: right;
}
nav ul li {
	display: inline;
	float: left;
	cursor: pointer;
}
nav ul li a {
	display: block;
	padding: 10px 16px;
}

/**************************
 Section (section)
**************************/
section {
	
	float: left;
}
